body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

canvas {
  position: relative;
}

button:hover {
  cursor: pointer;
}

button {
  height: 5rem;
  width: 10rem;
  background-color: white;
  border: none;
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 18px;
  font-weight: 900;
}

#status {
  display: block;
  margin-left: 1rem;
  width: 10rem;
  background-color: white;
}

#main {
  display: flex;
  flex-direction: row;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#video {
  position: absolute;
}

#video_player {
  height: 560px;
  width: 720px;
  background-color: black;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: #b6463a;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
